<%= form_tag("#{edit_course_path('course', @object)}", method: :get,
  remote: true ) do %>
  <%= hidden_field_tag("object", value = "trainee") %>
  <% Settings.options.each do |option| %>
    <label id="inline">
      <%= radio_button_tag :option, option, params[:option] == option &&
        params[:object] == "subject" || option == "all" %>
      <%= t "admin.options.#{option}" %>
    </label>
  <% end %>
  <%= submit_tag t("admin.filter"), class: "btn btn-primary btn-sm" %>
<% end %>
ad
<div id="_trainees">
  <%= render "trainees_in_course" %>
</div>
